@import "tailwindcss";

@theme {
  --font-inter: 'Inter', serif;
  --font-lusitana: 'Lusitana', serif;

  --color-brand-50: var(--color-teal-50);
  --color-brand-100: var(--color-teal-100);
  --color-brand-200: var(--color-teal-200);
  --color-brand-300: var(--color-teal-300);
  --color-brand-400: var(--color-teal-400);
  --color-brand-500: var(--color-teal-500);
  --color-brand-600: var(--color-teal-600);
  --color-brand-700: var(--color-teal-700);
  --color-brand-800: var(--color-teal-800);
}

@plugin 'tailwind-scrollbar';


body {
  font-family: 'Inter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}